<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Azul" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, maximum-scale=1.0, user-scalable=no" />
    
    <title>Azul</title>

    <!-- stylesheets (library) -->
    <link rel="stylesheet" href="css/libs/normalize.css">
    <link rel="stylesheet" href="css/libs/bootstrap.css">
    <link rel="stylesheet" href="css/libs/bootstrap-theme.css">
    <link rel="stylesheet" href="css/libs/leaflet.css">
        
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/bootstrap-custom.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/design.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/color-scheme.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/libs/flat-ui.css">

    <!-- scripts (library) -->
    <script src="js/libs/jquery-1.9.1.js"></script>
    <script src="js/libs/handlebars-1.0.0.js"></script>
    <script src="js/libs/ember-1.1.1.js"></script>
    <script src="js/libs/jquery.hammer.js"></script>
    <script src="js/libs/leaflet.js"></script>

    <!-- scripts (functions) -->
    <script src="js/funcs/cash.js"></script>
    <script src="js/funcs/time.js"></script>
    <script src="js/funcs/misc.js"></script>

    <!-- scripts -->
    <script src="js/app.js"></script>

</head>
<body>

    <!-- Header -->
    <script type="text/x-handlebars" data-template-name="header">
        <div class="bg-dark-gray col-xs-12" id="header">
            <div class="col-xs-3 height100 logo-back" id="home-trigger">
                <img id="nav-logo" src="img/NavLogo.png">
            </div>
            <div class="col-xs-3 height100">
            </div>
            <div class="col-xs-3 height100">
            </div>
            <div class="col-xs-3 height100 text-right" id="profile-trigger">
                <img id="menu-icon" src="img/icon/menu.png" />
            </div>
        </div>
    </script>

    <!-- Footer -->
    <script type="text/x-handlebars" data-template-name="footer">
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </script>

    <!-- Footer Moreinfo -->
    <script type="text/x-handlebars" data-template-name="footer-moreinfo">
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 back-icon">
                <img class="hoffset30 fith100 icon" src="img/icon/back.png"/>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </script>

    <!-- Footer Purchase -->
    <script type="text/x-handlebars" data-template-name="footer-purchase">
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6 height100" id="purchase-trigger">
                <h3 class="text-orange text-center voffset5 height95"><strong>PURCHASE</strong></h3>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </script>


    <!-- Loading -->
    <script type="text/x-handlebars" data-template-name="loading">
	<div class="contain height100" id="browse-contain">
                <h3 class="text-center voffset40">Loading Deals</h3>
                <div class="col-xs-4 height10 moffset4 voffset5 clear">
                    <img src="img/loader.gif"  style="width: 200%; position: relative; left: -60%; margin-top: 3%" />
                </div>
        </div>
    </script>
 
    <!-- Browse -->
    <script type="text/x-handlebars" data-template-name="browse">
        {{render 'header'}}
	<!-- Browse Demo -->
            {{#if firstTime}}
                <div class="contain demo-contain">
                    <div class="col-xs-8 moffset4 height10 voffset5">
                        <p class="ancona-studio text-center text-xlarge" style="padding-right: 15%;">ADD FAVORITE</p>
                    </div>
                    <div class="col-xs-12 height10 clear voffset10">
                        <p class="ancona-studio text-left text-xlarge" style="padding-left:5%" id="swipe-to-delete">SWIPE TO DELETE</p>
                    </div>
                    <div class="col-xs-4 clear height15 delete-span-demo text-center">
                        <span class="touch-dot" id="dot-slide-delete-undo"></span>
                    </div>
                    <div class="col-xs-8 clear height15 delete-span-demo">
                         <span class="touch-dot" id="dot-slide-delete"></span>
                    </div>
                    <div class="col-xs-10 moffset1 height15">
                        <p class="ancona-studio text-center text-7xlarge clear" style="text-shadow: 0px 0px 60px #2f5582;">QUICK TIPS</p>
                        <p class="ancona-studio text-center text-large">(TAP TO DISMISS)</p>
                    </div>
                    <div class="col-xs-6 clear height5 voffset15">
                        <p class="ancona-studio text-left text-xlarge" style="padding-left: 5%;">FAVORITES</p>
                    </div>
                    <div class="col-xs-6 clear height5 voffset15">
                        <p class="ancona-studio text-right text-xlarge" style="padding-right:5%">LOCATION</p>
                    </div>
                    <div class="col-xs-3 height20 voffset5">
                        <img class="height100" src="img/arrowDown.png">
                    </div>
                    <div class="col-xs-6 clear height20">
                        <div class="col-xs-12 clear height20"><p class="ancona-studio clear text-center text-xlarge" style="padding-left:5%">SORT BY PRICE</p></div>
                        <div class="col-xs-6 height80 moffset3 voffset5"><img class="height100" src="img/arrowDown.png"></div>
                    </div>
                    <div class="col-xs-3 height20 voffset5">
                        <img class="height100" src="img/arrowDown.png">
                    </div>
                </div>
            {{/if}}
            <div class="contain" id="browse-contain">
                {{#if favFlag}}
                    {{#view 'App.BrowsetilesView'}}
                        {{#if hasFavorite}}
                            <h1 class="text-center voffset40">No Favorites</h1>
                            <h3 class="text-center voffset35">To add favorites, tap</h3>
                            <h3 class="text-center voffset5">the star icon on a deal</h3>
                        {{/if}}
                    {{/view}}     
                {{else}}
                    {{#if mapFlag}}
                        {{render 'browsemap'}}
                    {{else}}
                        {{#if sortFlag}}
                             {{#view 'App.BrowsetilesView'}}
                            {{/view}}
                        {{else}}
                            {{#view 'App.BrowsetilesView'}}
                            {{/view}} 
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        <div class="bg-dark-gray col-xs-12 footer" id="browse-footer">
            <div class="col-xs-4 height100" id="browse-footer-favorite-trigger">
                <img class="hoffset30 fith100 icon favorite-icon" src="img/icon/favorite.png" />
            </div>
            <div class="col-xs-4 height100" id="browse-footer-sort-trigger">
                <img class="hoffset30 fith100 icon sort-icon" src="img/icon/sort.png" />
            </div>
            <div class="col-xs-4 height100" id="browse-footer-map-trigger">
                <img class="hoffset30 fith100 icon map-icon" src="img/icon/map.png" />
            </div>
        </div>
    </script>





    <!-- Browse-Map -->
    <script type="text/x-handlebars" data-template-name="browsemap">
        <div id="map"></div>
    </script>





    <!-- More Info -->
    <script type="text/x-handlebars" data-template-name="moreinfo">
        <div class="contain bg-dark-blue contain-noheader">
            <div class="height15 moffset1 voffset5">
                <h3 class="moreinfo-merchant text-uppercase text-spacing avenir-roman">{{merchant}}</h3>
                <div class="col-xs-6 clear">
                    <p class="clear voffset5 text-large">{{category}}</p>
                </div>
                <div class="col-xs-6 clear">
                    <img class="hoffset20 fith50 icon favorite-icon" id="fav-btn" src="img/icon/favorite.png">
                    <img class="hoffset10 fith50 icon map-icon" id="map-icon" src="img/icon/map.png" />
                </div>
            </div>
            <div class="moreinfo-dealimg height40">
                <div class="height100">
                    <div class="moreinfo-map" id="map"></div>
                    <img {{bind-attr src="img"}} class="deal-tile-img">
                </div>
            </div>
            <div class="col-xs-10 clear height35 moffset1">
                <div class="col-xs-12 clear">
                    <div class="col-xs-3 clear">
                        <p class="text-small text-beige clear avenir-heavy">VALUE</p>
                        <p class="text-large text-uppercase text-beige avenir-heavy">${{price_reg}}</p>
                    </div>
                    <div class="col-xs-3 text-center clear">
                        <p class="text-small text-beige clear avenir-heavy">YOU PAY</p>
                        <span class="text-large text-uppercase text-center text-beige avenir-heavy">${{priceNow}}<span class="text-small cents">.{{priceNowCents}}</span</span>
                    </div>
                    <div class="col-xs-6 clear text-center">
                        <p class="text-center clear text-beige">{{distance}} mi</p>
                        <span class="stars-beige text-left" {{bind-attr rating="rating"}}></span>
                    </div>
                </div>
                <div class="col-xs-12 clear">
                    <p class="text-beige text-xsmall clear">{{description}}</p>
                </div>
                <div class="col-xs-4 clear voffset10">
                    <p class="text-beige text-small clear avenir-heavy">REDEEMABLE</p>
                </div>
                <div class="col-xs-5 clear voffset10">
                    <p class="text-beige text-xsmall clear">Now - Thru 2014</p>
                </div>
                <div class="col-xs-2 moffset1 clear voffset5">
                    {{#if dealsGreen}}
                      <button type="button" class="btn button-green button-rounded text-large" id="buy-btn" style="width: 150%; margin-left: -50%" {{bind-attr deal_id="deal_id"}}>BUY</button>
                    {{else}}
                      {{#if dealsYellow}}
                        <button type="button" class="btn button-yellow button-rounded text-large" id="buy-btn" style="width: 150%; margin-left: -50%" {{bind-attr deal_id="deal_id"}}>BUY</button>
                      {{else}}
                        <button type="button" class="btn button-red button-rounded text-large" id="buy-btn" style="width: 150%; margin-left: -50%" {{bind-attr deal_id="deal_id"}}>BUY</button>
                      {{/if}}
                    {{/if}}
                </div>

            </div>
        </div>
        {{partial 'footer-moreinfo'}}
    </script>





    <!-- Purchase -->
    <script type="text/x-handlebars" data-template-name="purchase">
        {{render 'header'}}
        <div class="col-xs-6 moffset3 timer-span"><p class="clear text-beige text-center text-large height100" id="timer"></p></div>
        <div class="contain bg-dark-blue padding-bottom10">
            <h3 class="text-uppercase text-spacing avenir-heavy text-beige text-xlarge summary-header padding25">PURCHASE SUMMARY</h3>
            <div class="col-xs-12 bg-dark-gray deal-summary">
                <div class="col-xs-12 clear" id="summary-row1">
                    <div class="col-xs-4 clear">
                        <img {{bind-attr src="img"}} class="deal-tile-img">
                    </div>
                    <div class="col-xs-8 clear purchase-dealinfo">
                        <p class="text-uppercase text-beige text-large clear">{{merchant}}</p>
                        <p class="text-beige voffset2-5 clear">{{category}}</p>
                        <p class="text-beige voffset2-5 clear">{{distance}} mi</p>
                    </div>
                </div>
                <div class="col-xs-12 clear summary-row">
                    <div class="col-xs-3 clear">
                        <p class="text-medium text-blue avenir-heavy clear">VALUE</p>
                        <p class="text-large text-uppercase text-beige">${{price_reg}}</p>
                    </div>
                    <div class="col-xs-3 clear">
                        <p class="text-medium text-blue avenir-heavy clear">YOU PAY</p>
                        <p class="text-large text-uppercase text-beige">${{totalprice}}</p>
                    </div>
                    <div class="col-xs-6 clear"> 
                        <p class="text-medium text-blue avenir-heavy clear">REDEEMABLE</p>
                        <p class="text-medium text-beige">Now - Thru 2014</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 bg-blue deal-summary" id="summary-total">
                <div class="col-xs-2 clear">
                    <p class="text-medium text-beige clear">QTY.</p>
                </div>
                <div class="col-xs-3 clear">
                    <p type="number" class="bg-blue! text-large text-beige quantity-input">1</p>
                </div>
                <div class="col-xs-4 clear">
                    <p class="text-medium text-beige clear">TOTAL PRICE:</p>
                </div>
                <div class="col-xs-3 clear">
                    <p class="text-large text-beige clear">${{totalprice}}</p>
                </div>
            </div>
        </div>
        {{partial 'footer-purchase'}}
    </script>

</body>
</html>
