/*
 * CSS animations go here
 * Try to make them hardware accelerated
 */

.fadeIn {
	display: inline-block !important;
	z-index: 0 !important;
	-webkit-animation-name: fadeIn;
  	-webkit-animation-duration: 1s;
   	-webkit-animation-timing-function: ease;
}

@-webkit-keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}

.bidAnimate {
	-webkit-animation-name: bidanimate;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-iteration-count: 8;
   	-webkit-animation-timing-function: ease;
}

@-webkit-keyframes bidanimate {
	0% {border-right-color: #f7f5ea;}
	50% {border-right-color: #e66027;}
	100% {border-right-color: #f7f5ea;}
}

.priceAnimate {
	opacity: 1 !important;
	-webkit-transition: opacity 5s ease-in;
}

.dotSwipeToDeleteDot {
	-webkit-animation-name: swipeDeleteDotAnimate;
	-webkit-animation-duration: 0.5s;
   	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes swipeDeleteDotAnimate {
	0%{-webkit-transform: translate3d(0,0,0);}
	100%{-webkit-transform: translate3d(50%,0,0);}
}

.swipeToDeleteTile {
	-webkit-transition: -webkit-transform 1s;
	-web-kit-transition-delay: 0.25s;
   	-webkit-transition-timing-function: linear;
}
.swipeToDeleteTileRight {
	-webkit-transform: translate3d(100%,0,0);
}
.swipeToDeleteTileLeft {
	-webkit-transform: translate3d(0,0,0);
}
.touch-dot {
	width: 40px;
 	height: 40px;
 	margin-top: 6px;
 	border-radius: 20px;
 	display: inline-block;
 	background-color: #f7f5ea;
 	box-shadow: 0px 0px 25px #f7f5ea;
}
.delete-span-demo {
	padding: 3% 8% !important;
}
