/*
 * Basic CSS non-specific to Azul goes here
 */

/*******************
	Mobile Offset
 *******************/
.moffset1 {
	margin-left: 8.33% !important;
}
.moffset2 {
	margin-left: 16.66% !important;
}
.moffset3 {
	margin-left: 25% !important;
}
.moffset4 {
	margin-left: 33.33% !important;
}
.moffset5 {
	margin-left: 41.66% !important;
}
.moffset6 {
	margin-left: 50% !important;
}
.moffset7 {
	margin-left: 58.33% !important;
}
.moffset8 {
	margin-left: 66.33% !important;
}
.moffset9 {
	margin-left: 75% !important;
}

/*******************
	Vertical Offset
 *******************/
.voffset1 {
	margin-top: 1% !important;
}
.voffset2-5 {
	margin-top: 2.5% !important;
}
.voffset3 {
	margin-top: 3% !important;
}
.voffset5 {
	margin-top: 5% !important;
}
.voffset10 {
	margin-top: 10% !important;
}
.voffset15 {
	margin-top: 15% !important;
}
.voffset20 {
	margin-top: 20% !important;
}
.voffset25 {
	margin-top: 25% !important;
}
.voffset30 {
	margin-top: 30% !important;
}
.voffset35 {
	margin-top: 35% !important;
}
.voffset40 {
	margin-top: 40% !important;
}
.voffset45 {
	margin-top: 45% !important;
}
.voffset50 {
	margin-top: 50% !important;
}
.voffset55 {
	margin-top: 55% !important;
}
.voffset60 {
	margin-top: 60% !important;
}

/**************************
	Vertical Botom Offset
 *************************/
.padding-bottom1 {
	padding-bottom: 1% !important;
}
.padding-bottom5 {
	padding-bottom: 5% !important;
}
.padding-bottom10 {
	padding-bottom: 10% !important;
}
.padding-bottom15 {
	padding-bottom: 15% !important;
}
.padding-bottom20 {
	padding-bottom: 20% !important;
}
.padding-bottom25 {
	padding-bottom: 25% !important;
}
.padding-bottom30 {
	padding-bottom: 30% !important;
}
.padding-bottom35 {
	padding-bottom: 35% !important;
}
.padding-bottom40 {
	padding-bottom: 40% !important;
}
.padding-bottom45 {
	padding-bottom: 45% !important;
}
.padding-bottom50 {
	padding-bottom: 50% !important;
}


/*******************
	Horizontal Offset
 *******************/
.hoffset5 {
	margin-left: 5% !important;
}
.hoffset10 {
	margin-left: 10% !important;
}
.hoffset15 {
	margin-left: 15% !important;
}
.hoffset20 {
	margin-left: 20% !important;
}
.hoffset25 {
	margin-left: 25% !important;
}
.hoffset30 {
	margin-left: 30% !important;
}
.hoffset35 {
618	margin-left: 35% !important;
}
.hoffset40 {
	margin-left: 40% !important;
}
.hoffset45 {
	margin-left: 45% !important;
}
.hoffset50 {
	margin-left: 50% !important;
}

/*******************
	Height
 *******************/
 .height5 {
 	height: 5% !important;
 }
 .height6-4 {
 	height: 6.4% !important;
 }
 .height10 {
 	height: 10% !important;
 }
 .height15 {
 	height: 15% !important;
 }
 .height20 {
 	height: 20% !important;
 }
 .height25 {
 	height: 25% !important;
 }
 .height30 {
 	height: 30% !important;
 }
 .height35 {
 	height: 35% !important;
 }
 .height40 {
 	height: 40% !important;
 }
 .height45 {
 	height: 45% !important;
 }
 .height50 {
 	height: 50% !important;
 }
 .height60 {
 	height: 60% !important;
 }
 .height70 {
 	height: 70% !important;
 }
 .height80 {
 	height: 80% !important;
 }
 .height90 {
 	height: 90% !important;
 }
 .height100 {
 	height: 100% !important;
 }

/*******************
	Width
 *******************/
 .width5 {
 	width: 5%;
 }
 .width10 {
 	width: 10%;
 }
 .width15 {
 	width: 15%;
 }
 .width20 {
 	width: 20%;
 }
 .width25 {
 	width: 25%;
 }
 .width30 {
 	width: 30%;
 }
 .width35 {
 	width: 35%;
 }
 .width40 {
 	width: 40%;
 }
 .width45 {
 	width: 45%;
 }
 .width50 {
 	width: 50%;
 }
 .width55 {
 	width: 55%;
 }
 .width60 {
 	width: 60%;
 }
 .width65 {
 	width: 65%;
 }
 .width70 {
 	width: 70%;
 }
 .width75 {
 	width: 75%;
 }
 .width80 {
 	width: 80%;
 }
 .width85 {
 	width: 85%;
 }
 .width90 {
 	width: 90%;
 }
 .width95 {
 	width: 95%;
 }
 .width100 {
 	width: 100%;
 }

 /*******************
	Rotate
 *******************/
.rotate5 {
	-webkit-transform: rotate3d(0,0,1,5deg);
}
.rotate10 {
	-webkit-transform: rotate3d(0,0,1,10deg);
}
.rotate15 {
	-webkit-transform: rotate3d(0,0,1,15deg);
}
.rotate30 {
	-webkit-transform: rotate3d(0,0,1,30deg);
}
.rotate45 {
	-webkit-transform: rotate3d(0,0,1,45deg);
}
.rotate60 {
	-webkit-transform: rotate3d(0,0,1,60deg);
}
.rotate75 {
	-webkit-transform: rotate3d(0,0,1,75deg);
}
.rotate90 {
	-webkit-transform: rotate3d(0,0,1,90deg);
}

.rotate-5 {
	-webkit-transform: rotate3d(0,0,1,-5deg);
}
.rotate-10 {
	-webkit-transform: rotate3d(0,0,1,-10deg);
}
.rotate-15 {
	-webkit-transform: rotate3d(0,0,1,-15deg);
}
.rotate-30 {
	-webkit-transform: rotate3d(0,0,1,-30deg);
}
.rotate-45 {
	-webkit-transform: rotate3d(0,0,1,-45deg);
}
.rotate-60 {
	-webkit-transform: rotate3d(0,0,1,-60deg);
}
.rotate-75 {
	-webkit-transform: rotate3d(0,0,1,-75deg);
}
.rotate-90 {
	-webkit-transform: rotate3d(0,0,1,-90deg);
}

/*******************
	Fit Width
 *******************/
.fitw10 {
	max-width: 10%;
	height: auto;
}
.fitw20 {
	max-width: 20%;
	height: auto;
}
.fitw30 {
	max-width: 30%;
	height: auto;
}
.fitw40 {
	max-width: 40%;
	height: auto;
}
.fitw50 {
	max-width: 50%;
	height: auto;
}
.fitw60 {
	max-width: 60%;
	height: auto;
}
.fitw70 {
	max-width: 70%;
	height: auto;
}
.fitw80 {
	max-width: 80%;
	height: auto;
}
.fitw90 {
	max-width: 90%;
	height: auto;
}
.fitw100 {
	max-width: 100%;
	height: auto;
}

/*******************
	Fit Height
 *******************/
.fith10 {
	max-height: 10%;
	width: auto;
}
.fith20 {
	max-height: 20%;
	width: auto;
}
.fith25 {
	max-height: 25%;
	width: auto;
}
.fith30 {
	max-height: 30%;
	width: auto;
}
.fith40 {
	max-height: 40%;
	width: auto;
}
.fith50 {
	max-height: 50%;
	width: auto;
}
.fith60 {
	max-height: 60%;
	width: auto;
}
.fith70 {
	max-height: 70%;
	width: auto;
}
.fith80 {
	max-height: 80%;
	width: auto;
}
.fith90 {
	max-height: 90%;
	width: auto;
}
.fith100 {
	max-height: 100%;
	width: auto;
}

/*******************
	Anchor
 *******************/
a, a:active, a:hover, a:focus, a:visited {
	color: #f7f5ea;
	text-decoration: none;
}

/*******************
	Button
 *******************/
hr {
 	margin: 5% 2.5%;
}
button {
	height: 10%;
	width: 100%;
}
.button-border {
	box-shadow: 0 0 0 2px #173551;
}
.button-rounded {
	border-radius: 8px;
	padding: 10% 7.5%;
	font-size: 1.5rem;
}
.button-submit {
	font-size: 1.75rem;
	border: 0;
	color: #f7f5ea;
	background-color: #e66027;
	padding: 3%;
	border-radius: 4px;
}
.button-green {
	color: #f7f5ea !important;
	background-color: #8dc63f;
}
.button-yellow {
	color: #f7f5ea !important;
	background-color: #fcb116;
}
.button-red {
	color: #f7f5ea !important;
	background-color: #e45026;
}
.button-gray {
	color: #f7f5ea !important;
	background-color: #7f7176;
}
.button-sharp {
	border-radius: 0;
}
.pad-button {
	padding: 2px !important;
}

/*******************
	Input
 *******************/
input {
	width: 100%;
	padding: 5%;
	border: 0;
	outline: none;
    color: #f7f5ea;
	background-color: #2f5582;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="date"] {
	-webkit-appearance: none;
}
input[type="text"], input[type="password"] {
	height: 50px;
    color: #313035;
	background-color: #f7f5ea;
}
 input[type="password"] {
	font-family: sans-serif !important;
}
::-webkit-input-placeholder {
    color: #b1afa3;
    font-size: 1.6rem;
}
input[type="text"]:disabled {
	background-color: #f7f5ea;
}

.input-center::-webkit-input-placeholder {
	text-align: center;
}
.input-bold::-webkit-input-placeholder {
	font-weight: 700;
}
.input-text-large::-webkit-input-placeholder {
	font-size: 150%;
}
.input-padded {
	padding: 1.75% 10% 0%;
}
.input-border-bottom {
	border-bottom: 1px solid #b1afa3;
}

/*******************
	Select
 *******************/
select {
	width: 100%;
	border: none;
	padding: 10%;
	text-align: left;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.pad-select {
	border-right: 1px solid #173551;
}
.select-parent select, .select-parent input {
    background: #173551 url("../img/arrow_down.png") no-repeat 96% center;
}
.date-parent {
    background: #173551 url("../img/arrow_down.png") no-repeat 96% center;
}


/*******************
	Headers
 *******************/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	margin: 0;
}

/*******************
	Contain
 *******************/
.contain {
	background-color: #173551;
	position: relative;
	z-index: 600;
	width: 100%;
	height: 84%;
	top: 0;
    overflow-x: hidden;
	z-index: 600;
	-webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: -webkit-transform 0.10s;
	-webkit-transition-timing-function:linear;
}
.contain-padding {
	padding: 2% 2%;
}
.contain-noheader {
	height: 92%;
	top: 0%;
}
.demo-contain {
	position: absolute;
	top: 8%;
	height: 84%;
	width:100%;
	z-index: 5000;
	background: rgba(0, 0, 0, 0.55);
	-webkit-transition: opacity 0.5s ease-out;
}
.preview-wrapper {
	position: relative;
height: 81%;
width: 99%;
top: 9%;
}

/*******************
	Favorite Stars
 *******************/
span.stars-gray, span.stars-gray span {
    display: inline-block;
    background: url(../img/stars_gray.png) 0 -15px repeat-x;
    width: 80px;
    height: 15px;
}
span.stars-gray span {
    background-position: 0 0%;
}
span.stars-beige, span.stars-beige span {
    display: inline-block;
    background: url(../img/stars_beige.png) 0 -15px repeat-x;
    width: 80px;
    height: 15px;
}
span.stars-beige span {
    background-position: 0 0;
}

/*******************
	Base
 *******************/
html{
	height: 100%;
}
body {
	background-repeat: no-repeat;
	height: 682px;
	background-image: url("../img/emptyPhone.png");
	background-size: 384px 682px;
	width:384px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	color: #f7f5ea;
    margin: 3% auto;
    padding: 91px 37px;
	position:relative;
}
* {
	border-radius: 0;
}
img {
	width: 100%;
}
.no-scroll {
	overflow-y: hidden;
}
.clear {
	margin: 0;
	padding: 0;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.inline {
	display: inline-block;
	float: left;
}
.text-underline {
	padding-bottom: 1%;
	border-bottom: 1px solid #f7f5ea;
	margin-bottom: 3%;
}
.ember-view {
	height: 100%;
	position:relative;
}
