<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Azul" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, maximum-scale=1.0, user-scalable=no" />
    
    <title>Azul</title>
    
    <!-- icons -->
    <link rel="icon" href="img/azul/icon/icon32.png" />
    <link rel="apple-touch-icon" href="img/azul/icon/icon60.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/azul/icon/icon76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/azul/icon/icon120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/azul/icon/icon152.png" />
    <link rel="shortcut icon" sizes="128x128" href="img/azul/icon/icon128.png" />
    <link rel="shortcut icon" sizes="196x196" href="img/azul/icon/icon196.png" />

    <!-- stylesheets (library) -->
    <link rel="stylesheet" href="css/libs/normalize.css">
    <link rel="stylesheet" href="css/libs/bootstrap.css">
    <link rel="stylesheet" href="css/libs/bootstrap-theme.css">
    <link rel="stylesheet" href="css/libs/leaflet.css">
        
    <!-- stylesheets -->
    <link rel="stylesheet" href="css/bootstrap-custom.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/design.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/color-scheme.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/libs/flat-ui.css">

    <!-- scripts (library) -->
    <script src="js/libs/jquery-1.9.1.js"></script>
    <script src="js/libs/handlebars-1.0.0.js"></script>
    <script src="js/libs/ember-1.1.1.js"></script>
    <script src="js/libs/jquery.hammer.js"></script>
    <script src="js/libs/leaflet.js"></script>
    <script src="js/libs/socket.io.js"></script>
    <!-- <script src="js/libs/cordova.js"></script> -->
    <!-- <script src="cordova.js"></script> -->
    <script src="js/libs/facebook_js_sdk.js"></script>
    <script src="js/libs/cdv-plugin-fb-connect.js"></script>
    <script src="js/libs/socket.io.js"></script>
    <script src="js/libs/flatui-radio.js"></script>
    <script src="js/libs/stripe.js"></script>

    <!-- scripts (functions) -->
    <script src="js/funcs/db/db.js"></script>
    <script src="js/funcs/cash.js"></script>
    <script src="js/funcs/slider.js"></script>
    <script src="js/funcs/time.js"></script>
    <script src="js/funcs/misc.js"></script>
    <script src="js/funcs/init.js"></script>

    <!-- scripts -->
    <script src="js/socketapp.js"></script>
    <script src="js/app.js"></script>

</head>
<body onload="start_listeners()">

    <!-- Header -->
    <script type="text/x-handlebars" data-template-name="header">
        <div class="bg-dark-gray col-xs-12" id="header">
            <div class="col-xs-3 height100 logo-back" id="home-trigger">
                <img id="nav-logo" src="img/NavLogo.png">
            </div>
            <div class="col-xs-3 height100">
            </div>
            <div class="col-xs-3 height100">
            </div>
            <div class="col-xs-3 height100 text-right" id="profile-trigger">
                <img id="menu-icon" src="img/icon/menu.png" />
            </div>
        </div>
        <div id="menu-right">
            <div class="col-xs-12 menu-title-spn">
                <p class="menu-title">Profile Menu</p>
            </div>
            <div class="col-xs-12 menu-tile">
                <p class="menu-btn">My Profile</p>
            </div>
            <div class="col-xs-12 menu-tile">
                <p class="menu-btn">My Purchases</p>
            </div>
            {{#if onGoingBids}}
                <div class="col-xs-12 menu-tile">
                    <p class="menu-btn">Ongoing Deals</p>
                </div>
            {{/if}}
            <div class="col-xs-12 menu-tile">
                <p class="menu-btn">Logout</p>
            </div>
        </div>  
    </script>

    <!-- Footer -->
    <script type="text/x-handlebars" data-template-name="footer">
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </script>

    <!-- Footer -->
    <script type="text/x-handlebars" data-template-name="footer-login">
        <div class="bg-dark-blue col-xs-12 footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 height100" id="login-trigger">
                <img class="hoffset30 fith100 icon forward-icon" src="img/icon/forward.png"/>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </script>

    <!-- Footer -->
    <script type="text/x-handlebars" data-template-name="footer-register">
        <div class="bg-dark-blue col-xs-12 footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 height100" id="register-trigger">
                <img class="hoffset30 fith100 icon forward-icon" src="img/icon/forward.png"/>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </script>

     <!-- Home Footer -->
    <script type="text/x-handlebars" data-template-name="footer-home">
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                {{#link-to 'search'}}<p class="search-query text-beige text-center">SEARCH</p>{{/link-to}}
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </script>

    <!-- Footer Moreinfo -->
    <script type="text/x-handlebars" data-template-name="footer-moreinfo">
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 back-icon">
                <img class="hoffset30 fith100 icon" src="img/icon/back.png"/>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </script>

    <!-- Footer Search -->
    <script type="text/x-handlebars" data-template-name="footer-search">
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6 height100 text-center" id="search-trigger">
                <img class="height100 width90" src="img/btn/AZULbtn.png">
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </script>





    <!-- Footer Purchase -->
    <script type="text/x-handlebars" data-template-name="footer-purchase">
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6 height100" id="purchase-trigger">
                <h3 class="text-orange text-center voffset5 height95"><strong>PURCHASE</strong></h3>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </script>





    <!-- Home -->
    <script type="text/x-handlebars" data-template-name="home">
        {{render 'header'}}
        <div class="contain-padding contain bg-dark-blue">
            {{#each}}
            <div class="tile home-tile bg-blue">
                <div class="hoffset5 col-xs-9 voffset5">
                    <p class="search-query text-beige">{{search.query}}</p>
                    <p class="search-info text-beige avenir-light">00:12:59 ${{search.price}}</p>
                </div>
                <div class="col-xs-2">
                    <div class="bid-notification text-orange bg-beige">
                        <h4 class="clear bid-notification-num">{{newBids}}</h4>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{render 'footer-home'}}
    </script>
    




    <!-- Search -->
    <script type="text/x-handlebars" data-template-name="search">
        {{render 'header'}}
        <!-- Search Demo -->
        {{#if firstTime}}
            <div class="contain demo-contain">
                <div class="col-xs-4 height15 voffset15">
                    <p class="ancona-studio text-center text-xlarge" style="padding-right: 15%;">WHAT?</p>
                </div>
                <div class="col-xs-4 moffset4 height10 voffset35">
                    <p class="ancona-studio text-center text-xlarge" style="padding-top:10%; padding-left:5%">WHEN?</p>
                </div>
                <div class="col-xs-12 height10"></div>
                <div class="col-xs-10 moffset1 height15">
                    <p class="ancona-studio text-center text-7xlarge clear" style="text-shadow: 0px 0px 60px #2f5582;">QUICK TIPS</p>
                    <p class="ancona-studio text-center text-large" style="text-shadow: 0px 0px 45px #66A0A7;">(TAP TO DISMISS)</p>
                </div>
                <div class="col-xs-8 clear height10 voffset15">
                    <p class="ancona-studio text-left text-xlarge" style="padding-left: 5%;">HOW MUCH?</p>
                </div>
                <div class="col-xs-4 clear height15">
                    <p class="ancona-studio text-center text-xlarge" style="padding-left:5%">WHERE?</p>
                </div>
                <div class="col-xs-12 clear height5 voffset15">
                    <p class="ancona-studio text-center text-xlarge" style="padding-left:5%">GO!</p>
                </div>
            </div>
        {{/if}}
        <div class="contain" id="datePicker-contain">
            <!-- DatePicker -->
            <div class="col-xs-10 moffset1 clear bg-dark-blue voffset35 height40" id="datePicker">
                <span class="width100 clear inline height5"></span>
                <span class="width100 clear inline height25">
                    <button class="datePicker-add-btn height100 text-xxlarge text-blue bg-beige" id="addMonth">+</button>
                    <button class="datePicker-add-btn height100 text-xxlarge text-blue bg-beige" id="addDay">+</button>
                    <button class="datePicker-add-btn height100 text-xxlarge text-blue bg-beige" id="addYear">+</button>
                </span>
                <span class="width100 clear inline height20">
                    <p class="datePicker-display-input height100 clear text-center text-beige text-xlarge" id="currMonth"></p>
                    <p class="datePicker-display-input height100 clear text-center text-beige text-xlarge" id="currDay"></p>
                    <p class="datePicker-display-input height100 clear text-center text-beige text-xlarge" id="currYear"></p>
                </span>
                <span class="width100 clear inline height25">
                    <button class="datePicker-minus-btn height100 text-4xlarge text-blue bg-beige" id="subMonth">-</button>
                    <button class="datePicker-minus-btn height100 text-4xlarge text-blue bg-beige" id="subDay">-</button>
                    <button class="datePicker-minus-btn height100 text-4xlarge text-blue bg-beige" id="subYear">-</button>
                </span>
                <span class="width100 clear inline height5"></span>
                <span class="width100 clear inline height20 datePicker-submit-row">
                    <button class="datePicker-action-btn width50 height100 inline bg-blue text-beige text-large" id="setTime">Set</button>
                    <button class="datePicker-action-btn width50 height100 inline bg-blue text-beige text-large" id="cancelTime">Cancel</button>
                </span>
            </div>
        </div>
        <div class="contain contain-search bg-dark-blue">

            <!-- Search bar -->
            <div class="col-xs-12 height15 relative clear">
                {{input type="text" id="search-query" name="search" class="bg-blue input-bold input-padded" placeholder="What do you want to Azul?" value=search_query}}
            </div>

            <!-- Time -->
            <div class="col-xs-12 height25 relative clear voffset10">
                <div class="col-xs-12 search-tile clear">
                    <div class="col-xs-4 clear">
                        <span id="slider-indicator-time" class="pull-left"></span>
                    </div>
                </div>
                <div class="col-xs-12 pad-button">
                    <div class="width100">
                        <span class="slider-bar pull-left"></span>
                        <span class="dot-trigger" id="slide-time-trigger">
                            <span id="slider-dot-time"></span>
                        </span>
                        <span class="slider-tick slider-tick-sm" style="left: 7.4%;"><span class="slider-tick-label">12</span></span>
                        <span class="slider-tick slider-tick-xsm" style="left: 14.75%;"></span>
                        <span class="slider-tick slider-tick-xsm" style="left: 21.55%;"></span>
                        <span class="slider-tick slider-tick-sm" style="left: 28.63%;"><span class="slider-tick-label">3</span></span>
                        <span class="slider-tick slider-tick-xsm" style="left: 35.7%;"></span>
                        <span class="slider-tick slider-tick-xsm" style="left: 42.78%;"></span>
                        <span class="slider-tick slider-tick-sm" style="left: 49.85%;"><span class="slider-tick-label">6</span></span>
                        <span class="slider-tick slider-tick-xsm" style="left: 56.93%;"></span>
                        <span class="slider-tick slider-tick-xsm" style="left: 64%;"></span>
                        <span class="slider-tick slider-tick-sm" style="left: 71.08%;"><span class="slider-tick-label">18h</span></span>
                        <span class="slider-tick slider-tick-xsm" style="left: 78.15%;"></span>
                        <span class="slider-tick slider-tick-xsm" style="left: 85.23%;"></span>
                        <span class="slider-tick slider-tick-sm" style="left: 92.3%;"><span class="slider-tick-label">24h</span></span>
                    </div>
                </div>
            </div>

            <!-- Date -->
            <div class="col-xs-5 height15 relative clear voffset5 pad-select">
                <input class="height100 bg-blue text-beige avenir-heavy" type="text" id="search-date" readonly/>
            </div>

            <!-- Location -->
            <div class="col-xs-7 height15 relative clear voffset5">
                <div class="col-xs-8 clear height100 pad-select select-parent text-beige">
                    <select class="text-beige bg-blue avenir-heavy height100" id="location-selector">
                        <option value="current_loc" selected>My Location</option>
                        <option value="austin_tx">Austin, TX</option>
                    </select>
                </div>
                <div class="col-xs-4 clear pad-select select-parent text-beige height100">
                    <select class="text-beige bg-blue avenir-heavy height100" id="search-distance">
                      <option value="0.5">0.5 mi</option>
                      <option value="1">1 mi</option>
                      <option value="2">2 mi</option>
                      <option value="5" selected>5 mi</option>
                      <option value="10">10 mi</option>
                      <option value="20">20 mi</option>
                    </select>
                </div>
            </div>

            <!-- Price -->
            <div class="col-xs-12 height25 relative clear voffset10">
                <div class="col-xs-5 clear pad-button">
                    <span id="slider-indicator-price" class="pull-left">{{price}} VALUE</span>
                </div>
                <div class="col-xs-12 clear pad-button voffset1">
                    <div class="width100">
                        <span class="slider-bar pull-left"></span>
                        <span class="dot-trigger" id="slide-price-trigger">
                            <span id="slider-dot-price"></span>
                        </span>
						<span class="slider-tick slider-tick-lg" style="left: 4.4%;"><span class="slider-tick-label">5</span></span>
                        <span class="slider-tick slider-tick-lg" style="left: 26.9%;"><span class="slider-tick-label">10</span></span>
                        <span class="slider-tick slider-tick-lg" style="left: 49.4%;"><span class="slider-tick-label">15</span></span>
                        <span class="slider-tick slider-tick-lg" style="left: 71.9%;"><span class="slider-tick-label">20</span></span>
                        <span class="slider-tick slider-tick-lg" style="left: 94.4%;"><span class="slider-tick-label">25</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{render 'footer-search'}}
    </script>





    <!-- Browse -->
    <script type="text/x-handlebars" data-template-name="browse">
        {{render 'header'}}
        {{#if nullSearch}}
        <div class="contain">
            <h1 class="text-center voffset40">No Results</h1>
            <p class="text-center text-xlarge voffset35">Please {{#link-to 'search'}}<button class="btn button-green width30 text-xlarge">try again</button>{{/link-to}} with a</p>
            <p class="text-center text-xlarge voffset5">broader search query</p>
        </div>
        {{else}}
            <div class="col-xs-6 moffset3 timer-span"><p class="clear text-beige text-center text-large height100" id="timer"></p></div>
            <!-- Browse Demo -->
            {{#if firstTime}}
                <div class="contain demo-contain">
                    <div class="col-xs-8 moffset4 height10 voffset5">
                        <p class="ancona-studio text-center text-xlarge" style="padding-right: 15%;">ADD FAVORITE</p>
                    </div>
                    <div class="col-xs-12 height10 clear voffset10">
                        <p class="ancona-studio text-left text-xlarge" style="padding-left:5%" id="swipe-to-delete">SWIPE TO DELETE</p>
                    </div>
                    <div class="col-xs-4 clear height15 delete-span-demo text-center">
                        <span class="touch-dot" id="dot-slide-delete-undo"></span>
                    </div>
                    <div class="col-xs-8 clear height15 delete-span-demo">
                         <span class="touch-dot" id="dot-slide-delete"></span>
                    </div>
                    <div class="col-xs-10 moffset1 height15">
                        <p class="ancona-studio text-center text-7xlarge clear" style="text-shadow: 0px 0px 60px #2f5582;">QUICK TIPS</p>
                        <p class="ancona-studio text-center text-large">(TAP TO DISMISS)</p>
                    </div>
                    <div class="col-xs-6 clear height5 voffset15">
                        <p class="ancona-studio text-left text-xlarge" style="padding-left: 5%;">FAVORITES</p>
                    </div>
                    <div class="col-xs-6 clear height5 voffset15">
                        <p class="ancona-studio text-right text-xlarge" style="padding-right:5%">LOCATION</p>
                    </div>
                    <div class="col-xs-3 height20 voffset5">
                        <img class="height100" src="img/arrowDown.png">
                    </div>
                    <div class="col-xs-6 clear height20">
                        <div class="col-xs-12 clear height20"><p class="ancona-studio clear text-center text-xlarge" style="padding-left:5%">SORT BY PRICE</p></div>
                        <div class="col-xs-6 height80 moffset3 voffset5"><img class="height100" src="img/arrowDown.png"></div>
                    </div>
                    <div class="col-xs-3 height20 voffset5">
                        <img class="height100" src="img/arrowDown.png">
                    </div>
                </div>
            {{/if}}
            <div class="contain" id="browse-contain">
                {{#if favFlag}}
                    {{#view 'App.BrowsetilesView'}}
                        {{#if hasFavorite}}
                            <h1 class="text-center voffset40">No Favorites</h1>
                            <h2 class="text-center voffset35">To add favorites, tap</h2>
                            <h2 class="text-center voffset5">the star icon on a deal</h2>
                        {{/if}}
                    {{/view}}     
                {{else}}
                    {{#if mapFlag}}
                        {{render 'browsemap'}}
                    {{else}}
                        {{#if sortFlag}}
                             {{#view 'App.BrowsetilesView'}}
        
                            {{/view}}
                        {{else}}
                            {{#view 'App.BrowsetilesView'}}
        
                            {{/view}} 
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
        <div class="bg-dark-gray col-xs-12 footer" id="browse-footer">
            <div class="col-xs-4 height100" id="browse-footer-favorite-trigger">
                <img class="hoffset30 fith100 icon favorite-icon" src="img/icon/favorite.png" />
            </div>
            <div class="col-xs-4 height100" id="browse-footer-sort-trigger">
                <img class="hoffset30 fith100 icon sort-icon" src="img/icon/sort.png" />
            </div>
            <div class="col-xs-4 height100" id="browse-footer-map-trigger">
                <img class="hoffset30 fith100 icon map-icon" src="img/icon/map.png" />
            </div>
        </div>
    </script>





    <!-- Browse-Map -->
    <script type="text/x-handlebars" data-template-name="browsemap">
        <div id="map"></div>
    </script>





    <!-- More Info -->
    <script type="text/x-handlebars" data-template-name="moreinfo">
        <div class="contain bg-dark-blue contain-noheader">
            <div class="height15 moffset1 voffset5">
                <h3 class="moreinfo-merchant text-uppercase text-spacing avenir-roman">{{merchant}}</h3>
                <div class="col-xs-6 clear">
                    <p class="clear voffset5 text-large">{{category}}</p>
                </div>
                <div class="col-xs-6 clear">
                    <img class="hoffset20 fith50 icon favorite-icon" id="fav-btn" src="img/icon/favorite.png">
                    <img class="hoffset10 fith50 icon map-icon" id="map-icon" src="img/icon/map.png" />
                </div>
            </div>
            <div class="moreinfo-dealimg height40">
                <div class="height100">
                    <div class="moreinfo-map" id="map"></div>
                    <img {{bind-attr src="img"}} class="deal-tile-img">
                </div>
            </div>
            <div class="col-xs-10 clear height35 moffset1">
                <div class="col-xs-12 clear">
                    <div class="col-xs-3 clear">
                        <p class="text-medium text-beige clear avenir-heavy">VALUE</p>
                        <p class="text-xlarge text-uppercase text-beige avenir-heavy">${{price_reg}}</p>
                    </div>
                    <div class="col-xs-3 text-center clear">
                        <p class="text-medium text-beige clear avenir-heavy">YOU PAY</p>
                        <span class="text-xlarge text-uppercase text-center text-beige avenir-heavy">${{priceNow}}<span class="text-medium cents">.{{priceNowCents}}</span</span>
                    </div>
                    <div class="col-xs-6 clear voffset2-5 text-center">
                        <p class="text-center clear text-beige">{{distance}} mi</p>
                        <span class="stars-beige text-left" {{bind-attr rating="rating"}}></span>
                    </div>
                </div>
                <div class="col-xs-12 clear">
                    <p class="text-beige text-small clear">{{description}}</p>
                </div>
                <div class="col-xs-4 clear voffset10">
                    <p class="text-beige text-small clear avenir-heavy">REDEEMABLE</p>
                </div>
                <div class="col-xs-5 clear voffset10">
                    <p class="text-beige text-small clear">Now - Thru 2014</p>
                </div>
                <div class="col-xs-2 moffset1 clear voffset5">
                    {{#if dealsGreen}}
                      <button type="button" class="btn button-green button-rounded text-large" id="buy-btn" style="width: 150%; margin-left: -50%" {{bind-attr deal_id="deal_id"}}>BUY</button>
                    {{else}}
                      {{#if dealsYellow}}
                        <button type="button" class="btn button-yellow button-rounded text-large" id="buy-btn" style="width: 150%; margin-left: -50%" {{bind-attr deal_id="deal_id"}}>BUY</button>
                      {{else}}
                        <button type="button" class="btn button-red button-rounded text-large" id="buy-btn" style="width: 150%; margin-left: -50%" {{bind-attr deal_id="deal_id"}}>BUY</button>
                      {{/if}}
                    {{/if}}
                </div>

            </div>
        </div>
        {{partial 'footer-moreinfo'}}
    </script>





    <!-- Purchase -->
    <script type="text/x-handlebars" data-template-name="purchase">
        {{render 'header'}}
        <div class="col-xs-6 moffset3 timer-span"><p class="clear text-beige text-center text-large height100" id="timer"></p></div>
        <div class="contain bg-dark-blue padding-bottom10">
            <h3 class="text-uppercase text-spacing avenir-heavy text-beige text-xlarge summary-header padding25">PURCHASE SUMMARY</h3>
            <div class="col-xs-12 bg-dark-gray deal-summary">
                <div class="col-xs-12 clear" id="summary-row1">
                    <div class="col-xs-4 clear">
                        <img {{bind-attr src="img"}} class="deal-tile-img">
                    </div>
                    <div class="col-xs-8 clear purchase-dealinfo">
                        <p class="text-uppercase text-beige text-large clear">{{merchant}}</p>
                        <p class="text-beige voffset2-5 clear">{{category}}</p>
                        <p class="text-beige voffset2-5 clear">{{distance}} mi</p>
                    </div>
                </div>
                <div class="col-xs-12 clear summary-row">
                    <div class="col-xs-3 clear">
                        <p class="text-medium text-blue avenir-heavy clear">VALUE</p>
                        <p class="text-large text-uppercase text-beige">${{price_reg}}</p>
                    </div>
                    <div class="col-xs-3 clear">
                        <p class="text-medium text-blue avenir-heavy clear">YOU PAY</p>
                        <p class="text-large text-uppercase text-beige">${{totalprice}}</p>
                    </div>
                    <div class="col-xs-6 clear"> 
                        <p class="text-medium text-blue avenir-heavy clear">REDEEMABLE</p>
                        <p class="text-medium text-beige">Now - Thru 2014</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 bg-blue deal-summary" id="summary-total">
                <div class="col-xs-2 clear">
                    <p class="text-medium text-beige clear">QTY.</p>
                </div>
                <div class="col-xs-3 clear">
                    <p type="number" class="bg-blue! text-xlarge text-beige quantity-input">1</p>
                </div>
                <div class="col-xs-4 clear">
                    <p class="text-medium text-beige clear">TOTAL PRICE:</p>
                </div>
                <div class="col-xs-3 clear">
                    <p class="text-xlarge text-beige clear">${{totalprice}}</p>
                </div>
            </div>
            <hr class="text-beige">
            <h3 class="text-uppercase text-beige avenir-heavy text-xlarge summary-header padding25">SELECT PAYMENT PROFILE</h3>
            {{#if noCards}}
                {{partial addcard}}
            {{else}}
                <div class="col-xs-12 clear inline">
                    {{#each cards}}
                        <div class="card-selector width45 height25 voffset2-5 inline bg-blue clear margin25" {{bind-attr card_id="card_id"}}>
                            <p class="text-center">{{card_type}} ending in {{last_four}}</p>
                            <p class="text-center">Exp date: {{expiration_month}}/{{expiration_year}}</p>
                        </div>
                    {{/each}}
                </div>
                <div class="col-xs-12 clear addcard-toggle voffset5 padding25"><button class="button-submit bg-blue">Add Card</button></div>
                {{#if addCard}}
                    {{partial addcard}}
                {{/if}}
            {{/if}}
        </div>
        {{partial 'footer-purchase'}}
    </script>





    <!-- Add Card -->
    <script type="text/x-handlebars" data-template-name="addcard">
        <div class="col-xs-12 inline clear height5 padding25 voffset5">
            <label class="clear text-large avenir-heavy text-beige">Card number</label>
        </div>
        <div class="col-xs-12 inline clear height10 padding25">
            {{input type="number" class="bg-blue text-large text-beige card-input avenir-roman" value=newCardNum}}
        </div>
        <div class="col-xs-12 inline clear height5 padding25">
            <div class="width65 inline clear height100">
                <label class="clear text-large avenir-heavy text-beige">Expiration date</label>
            </div>
            <div class="width35 inline clear height100">
                <label class="clear text-large avenir-heavy text-beige">CSC</label>
            </div>
        </div>
        <div class="col-xs-12 inline clear height10 padding25">
            <div class="width25 inline clear">
                <select name="month-select" class="text-beige bg-blue avenir-roman card-input text-large" id="month-select">
                      <option value="00" selected disabled>Month</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                </select>
            </div>
            <p class="width5 clear inline text-beige text-center text-3xlarge">-</p>
            <div class="width25 inline clear">
                <select name="year-select" class="text-beige bg-blue avenir-roman card-input text-large" id="year-select">
                      <option value="0000" selected disabled>Year</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                      <option value="2026">2026</option>
                      <option value="2027">2027</option>
                      <option value="2028">2028</option>
                      <option value="2029">2029</option>
                      <option value="2030">2030</option>
                      <option value="2031">2031</option>
                </select> 
            </div>
            <div class="width35 clear inline hoffset10 height100">
                {{input type="number" class="bg-blue text-large text-center text-beige avenir-roman card-input" value=newCardCSC}}
            </div>
        </div>
    </script>





    <!-- Login -->
    <script type="text/x-handlebars" data-template-name="login">
        <div class="contain contain-noheader bg-dark-blue">
            <div class="col-xs-12 clear height30 voffset10">
                <img class="height100 text-center logo" src="img/AzulLogin.png">
            </div>
            <div class="col-xs-10 moffset1 clear height15">
                <p class="text-xlarge text-beige text-center">"Where companies bid for your business"</p>
            </div>
            <div class="col-xs-12 height30 clear voffset20">
                {{input type="text" class="text-large text-gray avenir-roman input-padded input-border-bottom" placeholder="Email" value=email}}
                {{input type="password" class="text-large text-gray avenir-roman input-padded" placeholder="Password" value=password}}
                <div class="voffset5">
                    <p class="text-medium width50 text-uppercase hoffset10 avenir-heavy" id="register-trigger" style="padding-bottom: 10%">New User</p>
                </div>
            </div>
        </div>
        {{partial 'footer-login'}}
    </script>





    <!-- Register -->
    <script type="text/x-handlebars" data-template-name="register">
        <div class="contain contain-noheader bg-dark-blue">
            <div class="col-xs-12 clear height30 voffset10">
                <img class="height100 text-center logo" src="img/AzulLogin.png">
            </div>
            <div class="col-xs-10 moffset1 height15 clear">
                <p class="text-xlarge text-beige text-center">"Where companies bid for your business"</p>
            </div>
            <div class="col-xs-12 height40 clear voffset5">
                {{input type="text" class="text-large text-gray avenir-roman input-padded input-border-bottom" placeholder="First Name" value=firstname}}
                {{input type="text" class="text-large text-gray avenir-roman input-padded input-border-bottom" placeholder="Last Name" value=lastname}}
                {{input type="text" class="text-large text-gray avenir-roman input-padded input-border-bottom" placeholder="Email" value=email}}
                {{input type="password" class="input-padded text-large text-gray" placeholder="Password" value=password}}
                <p class="text-beige text-small avenir-heavy text-center voffset2-5">By registering I agree to Azul&#39;s terms & conditions</p>
            </div>
        </div>
        {{render 'footer-register'}}
    </script>




    <!-- My Profile -->
    <script type="text/x-handlebars" data-template-name="myprofile">
        {{render 'header'}}
        <div class="contain" id="datePicker-contain">
            <!-- DatePicker -->
            <div class="col-xs-10 moffset1 clear bg-dark-blue voffset35 height40" id="datePicker">
                <span class="width100 clear inline height5"></span>
                <span class="width100 clear inline height25">
                    <button class="datePicker-add-btn height100 text-xxlarge text-blue bg-beige" id="addMonth">+</button>
                    <button class="datePicker-add-btn height100 text-xxlarge text-blue bg-beige" id="addDay">+</button>
                    <button class="datePicker-add-btn height100 text-xxlarge text-blue bg-beige" id="addYear">+</button>
                </span>
                <span class="width100 clear inline height20">
                    <p class="datePicker-display-input height100 clear text-center text-beige text-xlarge" id="currMonth"></p>
                    <p class="datePicker-display-input height100 clear text-center text-beige text-xlarge" id="currDay"></p>
                    <p class="datePicker-display-input height100 clear text-center text-beige text-xlarge" id="currYear"></p>
                </span>
                <span class="width100 clear inline height25">
                    <button class="datePicker-minus-btn height100 text-4xlarge text-blue bg-beige" id="subMonth">-</button>
                    <button class="datePicker-minus-btn height100 text-4xlarge text-blue bg-beige" id="subDay">-</button>
                    <button class="datePicker-minus-btn height100 text-4xlarge text-blue bg-beige" id="subYear">-</button>
                </span>
                <span class="width100 clear inline height5"></span>
                <span class="width100 clear inline height20 datePicker-submit-row">
                    <button class="datePicker-action-btn width50 height100 inline bg-blue text-beige text-large" id="setTime">Set</button>
                    <button class="datePicker-action-btn width50 height100 inline bg-blue text-beige text-large" id="cancelTime">Cancel</button>
                </span>
            </div>
        </div>
        <div class="contain bg-dark-blue">
            <div class="col-xs-4 voffset5">
                <img src="img/default_profile.png" />
            </div>
            <div class="col-xs-8 voffset5">
                <h2>{{currentUser.firstname}} {{currentUser.lastname}}</h2>
            </div>
            <div class="col-xs-12">
                <h3 class="text-underline clear voffset3">Email</h3>
                <h4>{{currentUser.email}}</h4>
                <h3 class="text-underline voffset3">Gender</h3>
                <div class="col-xs-6">
                    <span class="radio text-large" id="male-radio">
                        <span class="icons">
                            <span class="first-icon fui-radio-unchecked"></span>
                            <span class="second-icon fui-radio-checked"></span>
                        </span>
                        <input class="gender-radio" type="radio" name="options-radios" id="options-radios-male" value="M" data-toggle="radio">
                        Male
                    </span>
                </div>
                <div class="col-xs-6">
                    <span class="radio text-large" id="female-radio">
                        <span class="icons">
                            <span class="first-icon fui-radio-unchecked"></span>
                            <span class="second-icon fui-radio-checked"></span>
                        </span>
                        <input class="gender-radio" type="radio" name="options-radios" id="options-radios-female" value="F" data-toggle="radio">
                        Female
                    </span>
                </div>
                <h3 class="clear" style="padding-bottom: 1%; border-bottom: 1px solid #f7f5ea;">Birthday</h3>
                <div class="col-xs-10 moffset1 select-parent  clear">
                    <input class="height100 text-beige bg-dark-blue text-center avenir-heavy text-large" type="text" id="birth-date" readonly/>
                </div>
                <div class="col-xs-12 clear">
                    <button class="button-submit" id="save-btn">Save</button>
                </div>
            </div>
        </div>
        {{render 'footer'}}
    </script>





    <!-- Feedback -->
    <script type="text/x-handlebars" data-template-name="feedback">
        {{render 'header'}}
        <div class="contain contain-padding-heavy bg-blue">
            <div class="col-xs-12">
                <h3 class="text-underline voffset5">Feedback</h3>
            </div>
            <div class="col-xs-12"><label class="">What did you like about Azul?</label></div>
            <div class="col-xs-12 height15"><textarea class="feedback-input height100" name="positive-comment" id="feedback-positive"></textarea></div>
            <div class="col-xs-12 voffset5"><label class="">What did you <em>not</em> like about Azul?</label></div>
            <div class="col-xs-12 height15"><textarea class="feedback-input height100" name="positive-comment" id="feedback-negative"></textarea></div>
            <div class="col-xs-12 voffset5"><label class="">Any other comments?</label></div>
            <div class="col-xs-12 height15"><textarea class="feedback-input height100" name="positive-comment" id="feedback-other"></textarea></div>
        </div>
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 height100" id="feedback-trigger">
                <img class="hoffset30 fith100 icon forward-icon" src="img/icon/forward.png"/>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </script>





    <!-- My Purchases -->
    <script type="text/x-handlebars" data-template-name="mypurchases">
     {{render 'header'}}
        {{#if loadingPurchases}}
            <div class="contain" id="browse-contain">
                <h3 class="text-center voffset40">Loading Purchases</h3>
                <div class="col-xs-4 height10 moffset4 voffset5 clear">
                    <img src="img/loader.gif"  style="width: 200%; position: relative; left: -60%; margin-top: 3%" />
                </div>
            </div>
        {{else}}
            <div class="contain" id="browse-contain">
                {{#if noPurchases}}
                    <h1 class="text-center voffset40">No Purchases</h1>
                {{else}}
                    {{#each deal in controller itemController="item"}}
                        <div class="tile deal-tile" id="purchases-tile" {{bind-attr purchase_id="deal_id"}}>
                            <div class="deal-space bg-beige">
                                <div class="col-xs-4 clear deal-tile-img-div">
                                    <img {{bind-attr src="img"}} class="deal-tile-img">
                                </div>
                                <div class="col-xs-8 clear deal-tile-info voffset2-5">
                                    <div class="col-xs-12 clear deal-tile-info-price">
                                        <span class="text-gray clear text-xlarge avenir-light">${{price_reg}} for <span class="text-orange"> ${{priceNow}}<span class="text-small cents">.{{priceNowCents}}</span></span></span>
                                    </div>
                                </div>
                                <div class="col-xs-8 clear deal-tile-info">
                                    <div class="col-xs-12 clear purchase-tile-info-text">
                                        <span class="text-uppercase text-gray text-medium clear merchant-name">{{merchant}}</span><br />
                                        <span class="text-gray text-small clear">{{category}}</span><br />
                                        <span class="text-gray text-small clear">Code: {{voucher_code}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}
        {{render 'footer'}}
    </script>





    <!-- Voucher -->
    <script type="text/x-handlebars" data-template-name="voucher">
        <div class="contain contain-noheader bg-dark-blue">
            <div class="height15 moffset1 voffset5">
                <h3 class="moreinfo-merchant text-uppercase text-spacing avenir-roman">{{merchant}}</h3>
                <div class="col-xs-4 text-center clear">
                    <p class="text-medium text-beige clear avenir-heavy">VALUE</p>
                    <p class="text-xlarge text-uppercase text-beige avenir-heavy">${{price_reg}}</p>
                </div>
                <div class="col-xs-4 text-center clear">
                    <p class="text-medium text-beige clear avenir-heavy">PRICE</p>
                    <span class="text-xlarge text-uppercase text-beige avenir-heavy">${{priceNow}}<span class="text-medium cents">.{{priceNowCents}}</span</span>
                </div>
                <div class="col-xs-4 text-center clear">
                    <img class="hoffset10 voffset10 fith40 icon map-icon" id="map-icon" src="img/icon/map.png" />
                </div>
            </div>
            <div class="moreinfo-dealimg height40">
                <div class="height100">
                    <div class="moreinfo-map" id="map"></div>
                    {{#if isVoucherImg}}
                        <img {{bind-attr src="voucher_img"}} class="deal-tile-img">
                    {{else}}
                        <img {{bind-attr src="dealImg"}} class="deal-tile-img">
                    {{/if}}
                </div>
            </div>
            <div class="col-xs-10 clear height35 moffset1">
                <div class="col-xs-12 voffset5 clear">
                    <p class="text-beige text-medium clear">Redeem Code:</p>
                </div>
                <div class="col-xs-12 clear">
                    <p class="text-beige text-center text-xxlarge clear">{{voucher_code}}</p>
                </div>
                <div class="col-xs-12 voffset10 clear">
                    <p class="text-beige text-medium clear">Location:</p>
                </div>
                <div class="col-xs-10 moffset1 clear">
                    <p class="text-beige text-center text-large clear">{{address}}</p>
                </div>
            </div>
        </div>
        <div class="bg-dark-gray col-xs-12 footer">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4" id="voucher-footer-icon">
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </script>
</body>
</html>
