/*
 * CSS specific to Azul's color scheme go here
 */

/*******************
	Text
 *******************/
.text-orange {
	color: #e66027 !important;
}
.text-beige {
	color: #f7f5ea !important;
}
.text-gray {
    color: #7f7176 !important;
}
/*******************
	Color Scheme
*******************/
.text-blue {
    color: #2f5582 !important;
}
.text-dark-blue {
    color: #173551 !important;
}

.avenir-light {
	font-family: 'Avenir' !important;
    font-style: normal !important;
    font-weight: 100 !important;
}
.avenir-roman {
	font-family: 'Avenir' !important;
    font-style: normal !important;
    font-weight: 400 !important;
}
.avenir-heavy {
	font-family: 'Avenir' !important;
    font-style: normal !important;
    font-weight: 800 !important;
}
.ancona-studio {
	font-family: 'ancona_studio' !important;
	font-style: normal !important;
}

/*******************
	Text
 *******************/
.text-uppercase {
    text-transform: uppercase !important;
}
.text-small {
	font-size: 1.2rem !important;
}
.text-medium {
	font-size: 1.4rem !important;
}
.text-large {
	font-size: 1.8rem !important;
}
.text-12xlarge {
	font-size: 2rem !important;
}
.text-xlarge {
	font-size: 2.25rem !important;
}
.text-xxlarge {
	font-size: 2.55rem !important;
}
.text-3xlarge {
	font-size: 2.85rem !important;
}
.text-4xlarge {
	font-size: 3.15rem !important;
}
.text-5xlarge {
	font-size: 3.45rem !important;
}
.text-6xlarge {
	font-size: 3.85rem !important;
}
.text-7xlarge {
	font-size: 4.15rem !important;
}
.cross-text {
	text-decoration: line-through;
}

/*******************
	Background
 *******************/
.bg-blue {
	background-color: #2f5582 !important;
}
.bg-dark-blue {
	background-color: #173551 !important;
}
.bg-dark-gray {
	background-color: #2c2a2e !important;
}
.bg-light-gray {
	background-color: #b1afa3 !important;
}
.bg-beige {
	background-color: #f7f5ea !important;
}
.bg-orange {
	background-color: #e66027 !important;
}
.bg-green {
	background-color: #00ff00 !important;
}
.bg-red {
	background-color: red !important;
}