/*
 * CSS specific to Azul's design elements
 */

/*******************
	Slider
 *******************/
#slider-dot-price, #slider-dot-time {
 	width: 28px;
 	height: 28px;
 	margin-top: 6px;
 	border-radius: 14px;
 	display: inline-block;
 	background-color: #e66027;
}
#slider-dot-price:after, #slider-dot-time:after {
	content: '';
	position: relative;
	width: 0;
	top: -24px;
	border-style: solid;
	border-width: 24px 14px 0;
	border-color: #e66027 transparent;
	display: block;
}
#slider-indicator-price, #slider-indicator-time {
	position: relative;
	width: 100%;
	height: 34px;
	padding: 4% 10%;
	background-color: #e66027;
	text-align: right;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.slider-indicator-time-text, .slider-indicator-price-text {
	right: 15%;
}
.slider-bar {
	z-index: -1;
	width: 99%;
	height: 10px;
	position: absolute;
	top: 17px;
	border-radius: 5px;
 	background-color: #2f5582;
}
.slider-tick {
	z-index: -1;
	position: absolute;
	top: 17px;
 	background-color: #2f5582;
}
.slider-tick-lg {
	width: 4px;
	height: 22px;
	border-radius: 2px;
}
.slider-tick-xsm {
	width: 1px;
	height: 18px;
}
.slider-tick-sm {
	width: 2px;
	height: 22px;
	border-radius: 1px;
}
.slider-tick-label {
	position: absolute;
	bottom: -18px;
	left: -4px;
}

/*******************
	Icon
 *******************/
.icon {
	-webkit-tap-highlight-color: #F00;
}
