@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 100;
    src: local('Avenir 35 Light'), local('Avenir35-Light'), url('../font/Avenir35Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: local('Avenir 55 Roman'), local('Avenir55-Roman'), url('../font/Avenir55Roman.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    src: local('Avenir 85 Heavy'), local('Avenir85-Heavy'), url('../font/Avenir85Heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'ancona_studio';
    src: url('../font/ancona_studio.eot');
    src: url('../font/ancona_studio.eot') format('embedded-opentype'),
         url('../font/ancona_studio.woff') format('woff'),
         url('../font/ancona_studio.ttf') format('truetype'),
         url('../font/ancona_studio.svg#ancona_studioRegular') format('svg');
}
