/*
 * CSS specific to Azul's functionality goes here
 */

/*******************
	Global
 *******************/
.logo {
	width: 116%;
	margin-left: -8%;
}
.nav-logo {
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
}

/*******************
	Header
 *******************/
#header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1% 2%;
	z-index: 700;
	-webkit-transition: all 0.10s;
	-webkit-transition-timing-function:linear;
}
.header-view {
	height: 8%;
}
#nav-logo {
	max-height: 100%;
	padding: 5% 0 0 0;
	max-width: 62.5%;
}
.logo-back {
	background: url("../img/arrow_left.png") no-repeat 0% center;
}
#menu-icon {
	padding: 20% 0% 20% 40%;
	height: 100%;
}

/*******************
	Footer
 *******************/
.footer {
	position: fixed;
	bottom: 0;
	padding: 0.75% 2%;
	z-index: 500;
	left: 0;
	border: none;
	outline: none;
	-webkit-transition: all 0.10s;
	-webkit-transition-timing-function:linear;
}

/*******************
	Timer
 *******************/
.timer-span {
	position: fixed;
	z-index: 1000;
	vertical-align: text-bottom;
}

/*******************
	Side Menus
 *******************/
#menu-left {
	width:85%; 
	left:-85%;
	position:fixed; 
	top: 0%;
	z-index: 1001;
	height: 100%;
	background-color:#2f5582;
	-webkit-transition: all 0.10s;
	-webkit-transition-timing-function:linear;
}
#menu-left > .col-xs-12 {
	height: 15%;
	color: #f7f5ea;
	border-bottom: 1px solid #f7f5ea;
	display: inline-block;
	padding: 9% 0 0 10%;
	font-size: 2.25rem;
}
#menu-right > .col-xs-12 {
	height: 15%;
	color: #f7f5ea;
	border-bottom: 1px solid #f7f5ea;
	display: inline-block;
	padding: 9% 0 0 10%;
	font-size: 2.25rem;
}
.menu-title-spn {
	height: 8% !important;
	padding: 5% 0 0 0 !important;
	text-align: center;
}
#menu-right {
	width:85%; 
	left: 100%; 
	position:fixed;
	top: 0%;
	z-index: 1001;
	height: 100%;
	background-color:#2f5582;
	-webkit-transition: all 0.10s;
	-webkit-transition-timing-function:linear;
}


/*******************
	Home
 *******************/
.home-tile {
	margin-top: 1%;
}
.home-tile > .col-xs-10 {
	padding: 3% 0%;
}
.home-tile > .col-xs-2 {
	padding: 12% 0% 5% 0%;
	text-align: right;
}
.bid-notification {
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 15px;
}
.bid-notification-num {
	padding-top: 15%;
}
.search-query {
	font-size: 1.5rem;
	margin: 0 0 1%;
}
.search-info {
	margin-bottom: 0;
	font-size: 2.8rem;
	word-spacing: 30px;
}

/*******************
	Browse
 *******************/
 #browse-contain {
	line-height: 1px;
	position: relative;
}
 .tile {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	overflow: hidden;
	opacity: 1;
	line-height: normal;
}

.tile-slide-fast {
	-webkit-transition: all 0.175s linear;
	-moz-transition: all 0.175s linear;
	-ms-transition: all 0.175s linear;
	-o-transition: all 0.175s linear;
	transition: all 0.175s linear;
}
.tile-slide-slow {
	-webkit-transition: all 0.50s ease-out;
	-moz-transition: all 0.50s ease-out;
	-ms-transition: all 0.50s ease-out;
	-o-transition: all 0.50s ease-out;
	transition: all 0.50s ease-out;
}

.deal-tile {
	height: 25%;
	border-bottom: 1px solid #b1afa3;
}

.tileView {
	height: 100%;
	float: left;
	width: 100%;
}

.deal-space {
	width: 100%;
	border-right: 8px solid #f7f5ea;
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 5;
}
.deal-tile-img-div {
	width: 32%;
	height: 100%;
}
.deal-tile-img {
	width: 100%;
	height: 100%;
}
.deal-tile-info {
	width: 68%;
	height: 100%;
}
.deal-tile-info-text > p {
	margin-bottom: 5%;
}
.deal-tile-info-text {
	padding-left: 4%;
	padding-top: 2%;
	height: 100%;
	line-height: 140%;
}
.deal-tile-info-price {
	padding-left: 4%;
	padding-top: 1%;
}
.deal-tile-buttons {
	height: 100%;
	padding-right: 2%;
	margin-top: 0;
}

.delete {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	display: none;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.delete-span {
	padding: 10% 8%;
	margin: 3% 0;
}
.undo-span {
	border-right: 1px solid;
}

.price-now {
	opacity: 0;
	font-weight: bold;
}
.price-prev {
	font-weight: bold;
}
.cents {
	position: relative;
	top: -2%;
}
#buy-btn {
	width: 135%;
	margin-left: -35%;
}
#browse-footer {
	z-index: 700;
}
.categories {
	margin-bottom: 2%;
}
#fav-btn-trigger {
	padding-bottom: 20%;
}
/* For all other merhcnat not sign up*/
.otherMerchant-thankyou {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	display: none;
}
.otherMerchant-space {
	width: 100%;
	border-right: 8px solid #f7f5ea;
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 5;
}
.thankyou-span {
	padding: 5% 8%;
	margin: 2% 0;
}
/*******************
	Browse Map
 *******************/
#map{
	width:100%;
	height:100%;
	margin-top: 0px;
}
.leaflet-popup-content {
	color: black;
}
.map-img-div {
	height: 50px;
	max-width: 100% !important;
}
.leaflet-popup-content-wrapper {
	display: inline-block;
}
.leaflet-popup-content {
	display: inline-block;
	margin: 6px 9px;
}
.leaflet-popup-content p {
	margin: 0;
}
.mapView {
	height: 100%;
}

/*******************
	More Info
 *******************/
.moreinfo-dealimg {
	margin: 2.5% 0;
}
.moreinfo-map{
	height: 100%;
}
.text-spacing {
	letter-spacing: 2px;
}
.text-redeem-align {
	margin-top: 5%;
}
.moreinfo-merchant {
	margin-bottom: 4%;
}

/*******************
	Purchase
 *******************/
.deal-summary {
	padding: 2.5%;
}
.purchase-dealinfo {
	padding-left: 4%;
	padding-top: 3%;
}
#summary-row1 {
	margin-bottom: 5%;
}
.summary-row {
	margin-bottom: 2%;
}
#summary-total {
	height: 10%;
}
.quantity-input {
	height: 100%;
	width: 90%;
	border: none;
	padding: 0;
}
.summary-header {
	padding: 3% 0 4%;
}
.card-input {
	height: 40px;
	width: 100%;
	border: none;
	padding: 3%;
}
.padding25{
	padding-left: 2.5%;
	padding-right: 2.5%
}
.margin25{
	margin-left: 2.5%;
	margin-right: 2.5%
}
.card-selector {
	padding: 3%;
}
.card-selected {
	background-color: #e66027 !important; 
}
/*******************
	Search
 *******************/
.contain-search {
	overflow-y: hidden;
}
.contain-search div {
	min-height: 40px;
}
#search-query {
	height: 100%;
	font-size: 2rem;
	padding: 0 15%;
	color: #f7f5ea;
	text-align: center;
}
.dot-trigger {
	height: 60px;
	width: 60px;
	text-align: center;
	display: block;
}
#slide-time-trigger {
	margin-left: -13px;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
#slide-price-trigger {
	margin-left: -15px;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
input[name="search"]::-webkit-input-placeholder{
    font-size: 2rem;
	padding: 0;
	color: #f7f5ea;
}
#search-date {
	padding: 10%;
}
/*******************
	Profile
 *******************/
.dob-selector {
	padding: 10% 2%;
}
#birth-date {
	padding: 5%;
}

/*******************
	Feedback
 *******************/
.feedback-input {
	width: 100%;
	resize: none;
	overflow: hidden !important;
	outline: none;
}
textarea:focus{
	outline-offset:0px;
	outline: none;
}

/*******************
	My Purchases
 *******************/
#purchases-tile {
	height: 25% !important;
}
.purchase-tile-info-text {
	padding-left: 4%;
	padding-top: 3%;
	height: 100%;
	line-height: 150%;
}

/*******************
	DatePicker CSS
 *******************/

 #datePicker-contain {
 	display: none;
	opacity: 0;
	position: fixed;
	top: 8%;
	z-index: 5000;
	background: rgba(0, 0, 0, 0.55);
	-webkit-transition: opacity 0.25s linear;
 }
#datePicker {
	border-top: solid 3px #2f5582;
	border-left: solid 3px #2f5582;
	border-right: solid 3px #2f5582;
}
.datePicker-add-btn {
	width: 30%;
	margin-left: 2.75%;
	float: left;
	border-radius: 6px 6px 0 0;
	border: none;
	padding: 0;
}
.datePicker-minus-btn {
	width: 30%;
	margin-left: 2.75%;
	float: left;
	border-radius: 0 0 6px 6px;
	border: none;
	padding: 0;
}
.datePicker-display-input {
	width: 30%;
	margin-left: 2.75%;
	float: left;
	padding-top: 1.5%;
}
.datePicker-action-btn {
	padding: 0;
	border: none;
}
.datePicker-submit-row {
	bottom: 0;
	position: absolute;
	left: 0;
}
#setTime {
	border-right: solid 3px #173551;
}